@import 'reset';
@import 'initialization';
@import 'container';

.send {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    @extend %fixed;
}

.edit {
    width: 100%;
    bottom: 0;
    left: 0;
    margin-top: 0.1rem;
    z-index: 11;
    @extend %absolute;
    @extend %bkgfff;
}

.preview {
    .delete-icon {
        top: 0.1rem;
        right: 0.08rem;
        width: 0.4rem;
        height: 0.4rem;
        border-radius: 0.2rem;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1;
        @extend %absolute;
        @extend %before;
        @extend %after;

        &:before {
            top: 50%;
            left: 50%;
            width: 0.23rem;
            height: 0.03rem;
            margin-top: -0.015rem;
            margin-left: -0.115rem;
            transform: rotate(45deg);
            @extend %bkgfff;
        }

        &:after {
            top: 50%;
            left: 50%;
            width: 0.23rem;
            height: 0.03rem;
            margin-top: -0.015rem;
            margin-left: -0.115rem;
            transform: rotate(-45deg);
            @extend %bkgfff;
        }
    }
}

.text-block {
    margin: 0.2rem 0.2rem 0;
    padding: 0 0.2rem;
    border-radius: 0.1rem;
    @extend %relative;
    @extend %bkgf4f4f4;
    @extend %font-zero;
    
    textarea {
        width: 74.62686567164179%;
        height: 100%;
        line-height: 0.44rem;
        font-size: 0.3rem;
        @extend %bkgf5f5f5;
        @extend %color1a1a1a;
    }
    
    input[type=text] {
        width: 100%;
        height: 0.9rem;
        font-size: 0.3rem;
        @extend %bkgf5f5f5;
        @extend %color1a1a1a;
    }
    
    input[type=file] {
        height: 1.3rem;
        opacity: 0;
    }
    
    input[type=file], .upload-pic {
        top: 0.2rem;
        right: 0.2rem;
        width: 1.3rem;
        @extend %absolute;
    }
    
    .upload-pic {
        height: 0.64rem;
        line-height: 0.64rem;
        padding-top: 0.66rem;
        font-size: 0.24rem;
        border-radius: 0.06rem;
        @extend %text-align;
        @extend %bkgfff;
        @extend %color999;
        @extend %before;
        @extend %after;
        
        &:before {
            top: 0.41rem;
            left: 50%;
            width: 0.33rem;
            height: 0.03rem;
            margin-left: -0.165rem;
            @extend %bkg999;
        }
    
        &:after {
            top: 0.26rem;
            left: 50%;
            width: 0.03rem;
            height: 0.33rem;
            margin-left: -0.015rem;
            @extend %bkg999;
        }
    }
    
    .count {
        bottom: 0.12rem;
        right: 0.52rem;
        font-size: 0.24rem;
        @extend %absolute;
        @extend %color999;
    }
}

.textarea {
    height: 2.46rem;
    padding-top: 0.22rem;
    padding-bottom: 0.22rem;
}

.edit-send {
    margin: 0.14rem 0.2rem;
    @extend %flex-box;

    .statement {
        width: 80.849%;
        height: 0.72rem;
        line-height: 0.36rem;
        font-size: 0.22rem;
        @extend %flex-elements-auto;
        @extend %color999;
    }

    .btn {
        width: 19.151%;
        height: 0.6rem;
        line-height: 0.6rem;
        font-size: 0.3rem;
        border-radius: 0.3rem;
        background-image: linear-gradient(left, #ff7747, #f71e4c);
        @extend %flex-elements-auto;
        @extend %text-align;
        @extend %colorfff;
        @extend %font-zero;
    }
}